<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="polar">
  <xacro:arg name="robot_name" default="polar"/>
  
  <xacro:include filename="$(find polar_description)/robots/polar_arm.xacro"/>
  <xacro:include filename="$(find polar_description)/robots/hand.xacro"/>
  <xacro:include filename="$(find polar_description)/robots/polar.gazebo.xacro"/>
  <xacro:include filename="$(find polar_description)/robots/polar.transmission.xacro"/>

  <link name="world" />
  <xacro:polar_arm xyz="0 0 0" rpy="0 0 0" connected_to="world"/>
   <!-- Gripper description will be implemented -->
  <!-- <xacro:hand ns="polar" connected_to="polar_link6"/> -->

  <xacro:polar_gazebo robot_name="$(arg robot_name)" />
  <xacro:polar_transmission robot_name="$(arg robot_name)" />
</robot>
