<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="polar">
  <xacro:include filename="$(find polar_description)/robots/polar_arm.xacro"/>
  <xacro:include filename="$(find polar_description)/robots/hand.xacro"/>
  <xacro:polar_arm/>

   <!-- Gripper description will be implemented -->
  <!-- <xacro:hand ns="polar" connected_to="polar_link6"/> --> 
</robot>
